*.dSYM.zip
*.ipa

*.log
npm-debug.log*

node_modules
.idea/

## test coverage files
coverage
js-coverage.zip

## Build Generated
DerivedData/

## Apple things
.DS_Store
*.swp
profile
*~.nib

## Various Settings
xcuserdata/
*.xcuserstate

# Merge files
*.orig

# Local config
*.local.plist
*-local.js

*.xcodeproj
*.xcworkspace
Pods/
.env
Build/
exportOptions.plist
